*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header-top {
  height: 80px;
  line-height: 80px;
}

ul.navbar-menu li,
ul.navbar-language li{
  display: inline-block;
  padding-right: 10px;
}

ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
}

.header-top .logo {
  vertical-align: middle;
}

ul.navbar-language :not(li:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* jumbo */
.jumbo {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}

.jumbo h1 {
  font-size: 48px;
}

.jumbo p {
  margin: 10px 0;
  font-weight: 550;
}

.jumbo .testo {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbo h1 {
    font-size: 26px;
  }
}

/* Prima Sezione */

#prodotti .row{
  line-height: 2.2;
  margin: 40px 20px;
}

#prodotti .row img{
  height: 400px;
}

#prodotti .row .row{
  background-color: #fafafa;
}

#prodotti .row a{
  display: block;
}
/* /Prima sezione */

/* Seconda Sezione */
#phone .row{
  background-image: url('../img/index-banner.1f6fd0a.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#phone .row img{
  height: 510px;
  position: absolute;
  top:100%;
  left:50%;
  transform: translate(-50%,-50%);
}

#steps .row{
  text-align: left;
  line-height: 1.6;
  height: 200px;
  margin-top: 130px;
}

/* /Seconda Sezione */


/* Terza Sezione */
#mobility{
  background-image: url('../img/scooter.f0a0397.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#mobility .row{
  width: 100%;
  position: absolute;
  line-height: 3;
  top:50%;
  left:50%;
  color: white;
  transform: translate(-50%,-50%);
  padding: 0 100px;
}

#mobility .row a{
  color: #fafafa;
}
/* /Terza Sezione */

/* Quarta Sezione */
#app .row{
  margin: 40px 20px;
}

.get-app{
  height: 507px;
}

.get-app,
.find-us{
  background-color: #31404e;
  color: white;
}

.find-us{
  background-image: url(../img/city.7c8c928.jpg);
  height: 507px;
  background-repeat: no-repeat;
  background-size: cover;
}

.get-app a,
.find-us a{
  display: block;
  color: white;
}
/* /Quarta Sezione */

/* Quinta Sezione */
#family .row{
  background-image: url(../img/family.png);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-family{
  text-align: center;
  background-color: white;
  height: 150px;
  width: 300px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* /Quinta Sezione */